<div class="contain">
	<div>
		<%= image_tag("mobile/img_01.png", class: "img_01") %>
	</div>
	<div class="contain">
		<div class="inner_slide">
			<div class="inner">
				<div id="carousel" class="owl-carousel owl-theme">
					<div class="item"><a href="http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9622&lar_cd=02&mid_cd=02" target="_blank"><%= image_tag "mobile/coolcool_01.png"%></a></div>
					<div class="item"><a href="http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9629&lar_cd=02&mid_cd=02" target="_blank"><%= image_tag "mobile/coolcool_02.png"%></a></div>
					<div class="item"><a href="http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9626&lar_cd=02&mid_cd=02" target="_blank"><%= image_tag "mobile/coolcool_03.png"%></a></div>
					<div class="item"><a href="http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9628&lar_cd=02&mid_cd=02" target="_blank"><%= image_tag "mobile/coolcool_04.png"%></a></div>
				</div>
		   </div>
		</div>
	</div>
	<div class="div_bottom">
		<%= image_tag("mobile/bottom.png", class: "img_03") %>
	</div>		
</div>
