<div class="contain">
	<div>
		<%= image_tag("mobile/img_01.png", class: "img_01") %>
	</div>
	<div class="contain">
		<div class="inner_slide">
			<div class="inner">
				<div id="carousel" class="owl-carousel owl-theme">
					<div class="item"><%= link_to(image_tag("mobile/coolcool_01.png"),"http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9622&lar_cd=02&mid_cd=02", id: "product1") %></div>
					<div class="item"><%= link_to(image_tag("mobile/coolcool_02.png"),"http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9629&lar_cd=02&mid_cd=02", id: "product2") %></div>
					<div class="item"><%= link_to(image_tag("mobile/coolcool_03.png"),"http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9626&lar_cd=02&mid_cd=02", id: "product3") %></div>
					<div class="item"><%= link_to(image_tag("mobile/coolcool_04.png"),"http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9628&lar_cd=02&mid_cd=02", id: "product4") %></div>
				</div>
		   </div>
		</div>
	</div>
	<div class="div_bottom">
		<%= image_tag("mobile/bottom.png", class: "img_03") %>
	</div>		
</div>
