<div class="contain">
	<div>
		<%= image_tag("mobile/img_01.png", class: "img_01") %>
	</div>
	<div class="contain">
		<div class="inner_slide">
			<div class="inner">
				<div id="carousel" class="owl-carousel owl-theme">
					<div class="item"><%= image_tag("mobile/coolcool_01.png", id: "product1") %></div>
					<div class="item"><%= image_tag("mobile/coolcool_02.png", id: "product2") %></div>
					<div class="item"><%= image_tag("mobile/coolcool_03.png", id: "product3") %></div>
					<div class="item"><%= image_tag("mobile/coolcool_04.png", id: "product4") %></div>
				</div>
		   </div>
		</div>
	</div>
	<div class="div_bottom">
		<%= image_tag("mobile/bottom.png", class: "img_03") %>
	</div>		
</div>
