<div class="header_contain">
	
</div>
<div class="contain">
	<%= image_tag("pc/img.jpg", class: "img_01") %>
</div>
<div class="contain">
	<div class="inner_slide">
		<div class="inner">
			<div id="carousel" class="owl-carousel owl-theme">
				<div class="item"><%= image_tag "pc/coolcool_01.png"%></div>
				<div class="item"><%= image_tag "pc/coolcool_02.png"%></div>
				<div class="item"><%= image_tag "pc/coolcool_03.png"%></div>
				<div class="item"><%= image_tag "pc/coolcool_04.png"%></div>
			</div>
	   </div>
	</div>
</div>
<div class="footer_contain">
	<div class="contain">
		<%= image_tag("pc/bottom.jpg", class: "img_01") %>
	</div>
</div>
